.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
}
.carousel-control-prev,
.carousel-control-next {
    width: auto;
    padding: 0;
}
.carousel-control-prev {
    left: 0;
}
.carousel-control-next {
    right: 0;
}