body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #35424a;
    color: white;
    padding: 10px 0;
    text-align: center;
}
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}
.project {
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.project h2 {
    margin-top: 0;
}
.table-style{
    height:400px;
    overflow:scroll
}
#company-table tr{
    border-bottom: 1px dashed grey;
}

#company-table th{
    background-color: #ddd;
}
#company-table th:nth-child(1),
#company-table th:nth-child(2) {
    width: 25%;
}

/* Set the width of the third th to 50% */
#company-table th:nth-child(3) {
    width: 50%;

}